spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sayMyName
    password:
    driver-class-name: org.h2.Driver

  jpa:
    enabled: false
  sql:
    init:
      mode: always

server:
  port: 8080
